<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBPopuwd_LyZFqA9637VIjP2CG3ipYZPh8</string>
	<key>GCM_SENDER_ID</key>
	<string>916461847736</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cameratiktok.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>upvideo-736b0</string>
	<key>STORAGE_BUCKET</key>
	<string>upvideo-736b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:916461847736:ios:434613a79e41ce3c2de04d</string>
</dict>
</plist>